<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>
    <H1>Satellite Control System </H1> <br>
    
    Log_Time:</br> <input type = "text" name= "log" /></br>
    ID:</br><input type = "text" name = "id" /></br>
    orbit:</br> <input type = "text" name = "or" /> <br>
    bimal_sendfrom:</br> <input type = "text" name = "send" /> <br>
    location:</br> <input type = "text" name = "loc" /> <br>
    <br>
    <input type = "submit" value="Putdata">
    </center>

</form>
<form method="POST" action="">
    <center>
    <H2>Get Satellte data </H2> <br>
    <input type = "submit"value="Getdata">
    <br>

    ID:</br><input type = "text" name = "id" /></br>
    </br>
    </br>
    </br>
    {{data}}
    </br>
    </br>


    </center>
</form>

</BODY>
</HTML>
